@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');

:root {
    /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
    /* Override Variables */
    --font-family-sans-serif: 'Source Sans Pro', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --gray-dark: #404040;

    /* Page Variables */
    --font-family-serif: Merriweather, serif;
    --color-text: var(--gray-dark);
    --font-family-text: var(--font-family-serif);
}

.family-sans {
    font-family: var(--font-family-sans-serif);
}

.famili-avo{
    font-family: 'Arvo', serif;
}

.family-OpenSans{
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: var(--font-family-text);
    color: var(--color-text);
    font-weight: 200;
}

.site-nav {
    background-color: rgb(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 200;
}

.navbar-brand {
    display: inline-block;
    height: 61px;
    width: 216px;
    vertical-align: top;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand > img {
    display: block;
}
.navbar-nav {
    margin-left: auto; /*Move Nav Items to the left Automatically*/
    font-weight: bold;
    
}
.container-fluid .navbar-nav .nav-item{
    color: #ffc107;
}

.collapse{
    color:yellow;
}

.site-header {
    background: url(../img/hero-image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.site-header .layout-hero {
    display: flex;
    background: rgb(0, 0, 0, 0.8);
    min-height: 100vh;
    color: #fff;
    text-align: center;
    align-items: center;
}

.site-header .page-section-title {
    font-size: 4em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
}

.site-header .page-section-text {
    font-size: 1.2em;
    color: #ffc107;
}

.search-box {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: var(--font-family-sans-serif);
}

.search-box .search-field {
    height: 40px;
    margin-right: 15px;
}

.search-box .apartments {
    width: 500px;
}

.search-box .locations {
    width: 200px;
}

.search-box .search-btn {
    height: 40px;
    width: 150px;
    background: #ffc107;
    color: #ffffff;
}

.search-box .search-btn:hover {
    background: #28a745;
}


.sky-bg{
    background-color: #f7f7f7;
    display: flex;
    min-height: 80vh;
    text-align: center;
    
}


.text-header{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 70px;
    padding-top: 150px;
}

.txt-head{
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
}
.body-icon{
    font-size: 100px;
    
}

.star-rate{
    color: #a79a2e;
}
.book-icon{
    color: #a79a2e;
}

.love-icon{
    color: #a79a2e;
}
.text-body{
    font-size: 1.2rem;
}


.landing-subsection{
    background-color: #f7f7f7;
    display: flex;
    min-height: 70vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    
}

.landing-subsection .big-text{
    display: flex;
    font-size: 2rem;
    align-self: center;
    padding-top: 100px;
    color: blue;
    

}



.card-tel{
    background: #ffffff; border-radius: 10px; 
    box-shadow: 2px 2px 2px 2px #E3D46F;
}


.car-label{
    background: rgb(0, 0, 0, 0.9);
}

.car-arrow{
    background: rgb(0, 0, 0, 0.6);
}

.text-h{
    color: #0A0A0A;
    font-size: 24px;
    margin-top: 80px;
}

.text-p{
    color: #0A0A0A;
    font-size: 16px;
    margin: 0px 0px 95px;
}

.featured-head{
    color:  #0A0A0A;
    font-size: 15px;
    margin: 20px 0px 8px; 
    font-family: 'Arvo', serif;
}

.featured-attract{
    margin: 25px 0px;
    padding:0px 77px;
    font-size: 16px;
}

.card-fetured{
    padding: 100px 0px;
    margin: 0px 65px 100px;
    background: #FFFFFF;
    color: #0A0A0A;
    font-size: 16px;
}

.featured-body{
    color: #0A0A0A;
    font-size: 14px;
    margin: 40px 0px 16px;
}

.testimonial{
    background-color: white;
    min-height: 40vh;
}


footer {
    background-color: rgb(26, 26, 34);
    text-decoration: none;
    color: #fff;
    font-family: var(--font-family-sans-serif);
    font-size: 1.1rem;
    
}

.site-footer .footer-sec2 {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.links-heading {
    font-weight: bold;
    font-size: 1.2rem;
}
.footer-social {
    display: flex;
    justify-content: left;
}
.footer-social .social-icon {
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.7rem;
}
.footer-trademark {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
}

.footer-country {
    display: flex;
    justify-content: flex-end;
}
.footer-country .country-link {
    color: green;
    font-size: 1.4rem;
    padding-right: 0.7rem;
}

.footer-row {
    padding-top: 70px;
    padding-bottom: 20px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background:#e4f797;
  }



  .slide-div{
    margin-bottom:5rem;
  }

  .swiper-slide .details h3 span{
    font-size:16px;
    color:#f44336;
}

.swiper-slide .details h3{
    margin:0;
    padding:0;
    font-size:20px;
    text-align: center;
    line-height: 20px;
}
.swiper-slide .details{
    box-sizing:border-box;
    font-size:20px;
    padding:20px;
}

.swiper-slide .imgBx img{
    width: 100%;
}


  .swiper-slide .imgBx{
    width: 100%;
    height:250px;
    overflow: hidden;
  }


/*---------------------------------------------------MEDIA QUERY STARTS HERE----------------------------*/

/*BREAK POINTS STYLES  ----DESIGNS ARE FROM BIG TO SMALL SCREEN*/

/*Medium Screen */
@media screen and (max-width: 992px) {
    footer {
        background-color: green;
    }
    .footer-trademark {
        justify-content: center;
        text-align: center;
    }

    .search-box .search-field {
        height: 40px;
        margin-right: 0px;
    }

    .search-box .apartments {
        width: 300px;
    }

    .search-box .locations {
        display: none;
    }

  
} /*End Medium Screen Media Query*/




/*Between Mobile and Medium */
@media screen and (max-width: 765px) {
    .link-sep{
        display: none;
    }
  
}





/*Mobile Screen */
@media screen and (max-width: 600px) {
    .footer-social {
        justify-content: center;
        padding-bottom: 20px;
    }
    .footer-trademark {
        justify-content: center;
        padding-bottom: 10px;
    }
    .footer-country {
        justify-content: center;
        padding-bottom: 10px;
    }

    footer {
        background-color: #1a1a22;
    }

    .search-box .search-field {
        height: 40px;
        margin-bottom: 10px;
    }

    .search-box .apartments {
        width: 300px;
    }

    .search-box .locations {
        display: none;
    }

    .link-sep{
        display: none;
    }
  
} /*End Mobile Screen Media Query*/
